**/*.ts
**/*.map
.vscode/**
*.vsix
gulpfile.js
tsconfig.json
tslint.json
testapp/**
testdata/**
out/test/**
.travis.yml
appveyor.yml
package-lock.json

node_modules/.bin/**
node_modules/bufferutil/**
node_modules/utf-8-validate/**
node_modules/vscode-chrome-debug-core/node_modules/ws/node_modules/bufferutil/**
node_modules/vscode-chrome-debug-core/node_modules/ws/node_modules/utf-8-validate/**

node_modules/vscode-chrome-debug-core/out/test/**
